# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
docker-data/

# Python
__pycache__/
*.pyc
*.pt
*.pth
*.onnx
*.engine

# Logs
*.log

# Misc
UavAgentMainApplication
